Flask==2.2.5
Werkzeug>=2.2.2
dash>=2.0.0  # Updated to allow higher versions
pandas<2.2.0  # As required by pycaret
altair>=4.2.0
seaborn>=0.12.2
mlflow<3
pycaret<3.4.0  # Compatible with pandas<2.2.0